

<%- include('../partials/header') %>

<div class="form-container">
  <h2>Edit Product</h2>

 <% if (success_msg && success_msg.length > 0) { %>
      <p class="bg-green-200 text-green-800 px-4 py-2 rounded mb-4 text-center"><%= success_msg %></p>
    <% } %>
    <% if (error_msg && error_msg.length > 0) { %>
      <p class="bg-red-200 text-red-800 px-4 py-2 rounded mb-4 text-center"><%= error_msg %></p>
    <% } %>

  <form action="/admin/products/edit/<%= product._id %>" method="POST" enctype="multipart/form-data" class="styled-form">
    
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" id="name" name="name" value="<%= product.name %>" required>
    </div>

    <div class="form-group">
      <label for="category">Category</label>
     <!-- <select id="category" name="category" required>
  <% categories.forEach(cat => { %>
    <option value="<%= cat %>" <%= product.category === cat ? 'selected' : '' %>>
      <%= cat %>
    </option>
  <% }) %>
</select> -->
<select id="category" name="category" required>
  <% categories.forEach(cat => { %>
    <option value="<%= cat.name %>" <%= product.category === cat.name ? 'selected' : '' %>>
      <%= cat.name %>
    </option>
  <% }) %>
</select>


    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea id="description" name="description" required><%= product.description %></textarea>
    </div>

    <div class="form-group">
      <label for="image">Image</label>
      <input type="file" id="image" name="image">
      <% if(product.image){ %>
        <div class="preview">
          <img src="/uploads/<%= product.image %>" width="100" />
        </div>
      <% } %>
    </div>

    <button type="submit" class="btn edit-btn">Update Product</button>
  </form>
</div>

<%- include('../partials/footer') %>
